$icon-font-path: "~/bootstrap-sass/assets/fonts";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* Base Application Styles */
body {
  color: #fff;
  background: #222;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  //background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.index h1 {
  text-align: center;
}
